<a href="https://colab.research.google.com/github/KanumuriHimasri1709/python/blob/main/2ndyear_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#variables
_X="3"
Y="3"
print(_X+Y)

33

In [ ]:
a=int(3)
b=float(3)
print(a)
print(b)

3
3.0

In [ ]:
x=3
x=4
print(x)

4

In [ ]:
a=10
b=0.5
sum=a+b
print(sum)

10.5

In [ ]:
x=7.5
print(x)
type(x)

7.5

float

In [ ]:
a=['art','painter','actor']
print(a)

['art', 'painter', 'actor']

In [ ]:
_abc=3
print(_abc)

3

In [ ]:
l=56
b=78  #area of rectangle
a=l*b
print(a)

4368

In [ ]:
#area of triangle
h=48
b=27
area=0.5*h*b
print(area)

648.0

In [ ]:
#area of circle
r=12
area=3.141*r*r
print(area)

452.304

In [ ]:
#calculator
x=78
y=103
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)
print(x//y)

181
-25
8034
78
0.7572815533980582
0

In [ ]:
a=int(input())
for i in range(1,a):
    if(a%i==0):
        print("prime")
        break
    else:
        print("not prime")

5
prime

In [ ]:
a=int(input("enter number:"))
print("not eligible",a<=18)
print("eligible",a>=18 )

enter number:17
not eligible True
eligible False

In [ ]:
b=int(input("enter number:"))
print("Even",b%2==0)
print("odd",b%2!=0)

enter number:5
Even False
odd True

In [ ]:
X=int(input("enter number"))
if(X%5==0 and X%4==0):
    print("fizz buzz")
elif(X%5==0):
    print("buzz")
elif(X%4==0):
    print("fizz")
else:
    print("false")

enter number39
false

In [ ]:
a=int(input())
if(a<10):
    print("True")
else:
    print("false")

17
false

In [ ]:
B=input()
if(B=="greenball"):
    print("found")
else:
    print("not found")

greenball
found

In [ ]:
a=input("enter name :: ")
print(a)

enter name :: Hima
Hima

In [ ]:
a=int(input())
if(a>10):
    print("greater")
elif(a==10):
    print("equal")
else:
    print("lesser")

10
equal

In [ ]:
a=int(input())
if(a<20):
    print("charge")
elif(a<=50):
    print("less use")
else:
    print("use more")

98
use more

In [ ]:
a=int(input())
for i in range(a,11):
    if(i%2==0):
        print(i)

2
2
4
6
8
10

In [ ]:
Fruits=["dragon","kiwi","avagadro"]
for i in Fruits:
    print(i)

dragon
kiwi
avagadro

In [ ]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [ ]:
for i in range(1,6):
    for j in range(1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
n=int(input())
for i in range(1,n):
    for j in range(1,n):
        print(j,end="")
    print()

6
12345
12345
12345
12345
12345

In [ ]:
n=int(input())
for i in range(n):
    for j in range(n):
        print("*",end="")
    print()

5
*****
*****
*****
*****
*****

In [ ]:
n=int(input())
for i in range(65,n):
    for j in range(65,i+1):
        print(chr(i),end=" ")
    print()

70
A
B B
C C C
D D D D
E E E E E

In [ ]:
n=int(input())
for i in range(65,n):
    for j in range(65,i+1):
        print(chr(j),end=" ")
    print()

70
A
A B
A B C
A B C D
A B C D E

In [ ]:
n=int(input())
for i in range(1,n):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

6
*
* *
* * *
* * * *
* * * * *

In [ ]:
n=int(input())
for i in range(1,n):
    for j in range(i-1,n-1):
        print("*",end=" ")
    print()

6
* * * * *
* * * *
* * *
* *
*

In [ ]:
i=0
n=int(input())
while(i<5):
    print(i)
    i+=1

2
0
1
2
3
4

In [ ]:
n=int(input())
for i in range(1,n):
    print(i)

11
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(6):
    if i==2:
        continue
    print(i)

0
1
3
4
5

In [ ]:
for i in range(6):
    if i==4:
        break
    print(i)

0
1
2
3

In [ ]:

B=int(input())
for i in range(0,10):
  if(i==5):
    break
  print(i)

6
0
1
2
3
4

In [ ]:
for i in range(1,21):
  if(i%2==0):
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
i=0
n=int(input())
while(i<=30):
  if(i%n==0):
    print(i)
  i+=1

3
0
3
6
9
12
15
18
21
24
27
30

In [ ]:
#Comments
a="she looks like a kajal"
#single line comment and print string
print(a)

she looks like a kajal

Comments:In comments there are single line comments and multiline comments
Single line comments is denoted by #
Multiline comments is denoted by '''

In [ ]:
#Variables
ab1c="msg"
_AB1C="dd"
ab_1c="sha"
AB1C="skc"
print(ab1c)
print(_AB1C)
print(ab_1c)
print(AB1C)

msg
dd
sha
skc

Variables:: it is a container to store the data like values,letters,words etc..
Rules :-
*We can not give space and special character except underscore and numbers

In [ ]:
#data types
#int
A=34
print(A)
print(type(A))

#float
B=2.56
print(B)
print(type(B))

#string
C="Orange"
print(C)
print(type(C))

#list
S=[3,6,'also','cloud']
print(S)
print(type(S))

#tuple
Z=(7,'akka',6,'good')
print(Z)
print(type(Z))

#boolean
#true or false values can print like if ,else,for conditions lo manam true or false anevi print avvuthayi

#int
D=int(input())
print(D)

#float
F=float(input())
print(F)

34
<class 'int'>
2.56
<class 'float'>
Orange
<class 'str'>
[3, 6, 'also', 'cloud']
<class 'list'>
(7, 'akka', 6, 'good')
<class 'tuple'>
5
5
67
67.0

Python::::
* Python extension is .py
* it is used a interpreter.
* Interpreter means it checks the code line by line.
* it is introduced by guido van rossum in 1991.