<a href="https://colab.research.google.com/github/KanumuriHimasri1709/python/blob/main/Basics_of_py_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#prime number
n=int(input())
for num in range(2,n):
    for i in range(2,num):
        if num%i==0:
            break
    else:
        print(num,end=" ")

20
2 3 5 7 11 13 17 19

In [ ]:
#Factorial
n=int(input())
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

4
24

In [ ]:
#fibnocci sequence
n=int(input())
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

5
0 1 1 2 3

In [ ]:
#count
n=int(input())
count=0
while n>0:
    n=n//10
    count+=1
print(count)

23456
5

In [ ]:
#palindrome
a=int(input())
s=str(a)
if s==s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

1123211
palindrome

In [ ]:
#count-2
s=input()
if s==s[::-1]:
    print("palindrome")
else:
    print("not palindrome")

malayalam
palindrome

In [ ]:
#leap year
year=int(input())
if (year%4==0 and year%100!=0) or (year%400==0):
    print("leap year")
else:
    print("non leap year")

2000
leap year