<a href="https://colab.research.google.com/github/KanumuriHimasri1709/python/blob/main/Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dict
x={"name":"radha","age":19}
print(x.keys())
print(x.values())
print(x.items())
print(x)
print(type(x))


#clear
x={"name":"radha","age":19}
x.clear()
print(x)

#copy
x={"name":"radha","age":19}
x.copy()
print(x)

#get
x={"name":"radha","age":19}
y=x.get("name")
print(y)

#pop
x={"name":"radha","age":19}
x.pop("age")
print(x)

#popitem
x={"name":"radha","age":19,"course":"ADS"}
x.popitem()
print(x)

#update
x={"name":"radha","age":19,}
x.update({"course":"ADS"})
print(x)

dict_keys(['name', 'age'])
dict_values(['radha', 19])
dict_items([('name', 'radha'), ('age', 19)])
{'name': 'radha', 'age': 19}
<class 'dict'>
{}
{'name': 'radha', 'age': 19}
radha
{'name': 'radha'}
{'name': 'radha', 'age': 19}
{'name': 'radha', 'age': 19, 'course': 'ADS'}

In [ ]:
#list
#append
y=['apple','banana','orange','grapes','banana']
y.append("lemon")
print(y)

#insert
y=['apple','banana','orange','grapes','banana']
y.insert(3,"cherry")
print(y)


#clear
y=['apple','banana','orange','grapes','banana']
y.clear()
print(y)

#copy
y=['apple','banana','orange','grapes','banana']
y.copy()
print(y)

#count
y=['apple','banana','orange','grapes','banana']
x=y.count("banana")
print(x)

#extend
y=['apple','banana','orange','grapes','banana']
cherry=['sos','even','down']
y.extend(cherry)
print(y)

#index
y=['apple','banana','orange','grapes','banana']
x=y.index("banana")
print(x)

#pop

y=['apple','banana','orange','grapes','banana']
y.pop(2)
print(y)

#remove
y=['apple','banana','orange','grapes','banana']
y.remove("banana")
print(y)

#reverse
y=['apple','banana','orange','grapes','banana']
y.reverse()
print(y)

#sort
y=['apple','banana','orange','grapes','banana']
y.sort()
print(y)

['apple', 'banana', 'orange', 'grapes', 'banana', 'lemon']
['apple', 'banana', 'orange', 'cherry', 'grapes', 'banana']
[]
['apple', 'banana', 'orange', 'grapes', 'banana']
2
['apple', 'banana', 'orange', 'grapes', 'banana', 'sos', 'even', 'down']
1
['apple', 'banana', 'grapes', 'banana']
['apple', 'orange', 'grapes', 'banana']
['banana', 'grapes', 'orange', 'banana', 'apple']
['apple', 'banana', 'banana', 'grapes', 'orange']

In [ ]:
#tuple
#count
a=('ramcharan','prabhas','anushka','kajal')
x=a.count(2)
print(x)

#index
a=(1,2,3,4,5,6,7,4)
x=a.index(5)
print(x)

0
4

In [ ]:
#sets

#add
a={1,2,3,4,5,6,7,4}
a.add(8)
print(a)

#clear
a={1,2,3,4,5,6,7,4}
a.clear()
print(a)

#copy
a={1,2,3,4,5,6,7,4}
a.copy()
print(a)

#pop
a={1,2,3,4,5,6,7,4}
a.pop()
print(a)

#remove
a={1,2,3,4,5,6,7,4}
a.remove(3)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8}
set()
{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}
{1, 2, 4, 5, 6, 7}

In [1]:
#remove duplicate from a string
v=input("enter a string:")
k=''.join(dict.fromkeys(v))
print(k)

#sqaure pattren
n=int(input())
for i in range (1,n):
  for j in range(1,n):
    print("*",end="")
  print()

#count words in sentence
v=input("enter sentence:")
count = 1
for i in v:
  if i == " ":
    count = count + 1
print(count)

#intersection
a={1,2,3,4}
b={2,3,4,5}
c={0,2,3,4}
d=a.intersection(b,c)
print(d)

enter a string:malayalam
maly
5
****
****
****
****
enter sentence:she is a programmer
4
{2, 3, 4}