<a href="https://colab.research.google.com/github/KanumuriHimasri1709/python/blob/main/PYTHON_AFTERNOON_session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=17
b="hima"
print(a,b,sep="**")

17**hima

In [ ]:
h="hima"
i="sri"
print(h,end="!")
print(i)

hima!sri

In [ ]:
a=" ^"
b="^"
print(a,b,sep="-")
s="("
g=")"
print(s,g,sep="o.o")
d=" >"
e="<"
print(d,e,sep="^")

 ^-^
(o.o)
 >^<

In [ ]:

#list comprehension
num=[1,2,3,4,5]
l=[i**2 for i in num]
print(l)

[1, 4, 9, 16, 25]

In [ ]:

#list comprehension
num=[1,2,3,4,5]
l=[print(i**2) for i in num]

1
4
9
16
25

In [ ]:
numbers=[1,2,3,4,5,6]
l=[i for i in numbers if i%2==0]
print(l)

[2, 4, 6]

In [ ]:

#conditional transformation
num=[1,2,3,4,5]
A=[]
for i in num:
    if i%2==0:
        A.append(i**2)
    else:
        A.append(i)
print(A)

[1, 4, 3, 16, 5]

In [ ]:
num=[1,2,3,4,5]
a=[num**2 if num%2==0 else num for num in num]
print(a)

[1, 4, 3, 16, 5]

In [ ]:
words=["apple","banana","cherry","date"]
A=[]
for k in words:
    if 'a' in k:
        A.append(k)
print(A)

['apple', 'banana', 'date']

In [ ]:
A=["apple","banana","cherry"]
S=[r for r in A if 'a' in r]
print(S)

['apple', 'banana']

In [ ]:

#Nested loops
Mat=[[1,2,3],[4,5,6],[7,8,9]]
H=[]
for i in Mat:
    for j in i:
        H.append(j)
print(H)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
M=[[1,2,3],[4,5,6],[7,8,9]]
A=[num for row in M for num in row]
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]